.cards-index-container {
    margin: 0 auto;
    width: 85%;
}

.card-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cards-flex-item {
    margin: 10px;
    width: 15%;
}

.card-panel {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.card-panel h1 {
    margin-top: 0px;
    margin-bottom: -10px;
}

.card-details {
    padding-left: 50px;
    width: 400px;
    /* display: flex;
    flex-direction: column; */
}

.card-details p {
    margin: 0px;
}

.bold {
    font-weight: bold;
}

.button-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

.btn {
    text-transform: none;
    padding: 0 0.75rem;
}

.image-resize {
    max-width: 100%;
    max-height: 100%;
}

.filter-container .btn {
    width: 140px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-container span {
    width: 150px;
}

.dropdown-content {
    width: 110px;
    /* display: flex;
    justify-content: space-between; */
}

.card-panel {
    margin-top: 40px;
}

.card .card-content p {
    letter-spacing: 1px;
    color: #313131;
}

/* .hidden {
    display: none;
} */